.header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  border-radius: 15px;
  min-height: fit-content;
  padding: 30px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../assets/hero-bg.webp") no-repeat center center/cover;
  margin: 110px auto 40px;
}

.header h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 70px;
  color: #fff;
  text-align: center;
  max-width: 800px;
  line-height: 1;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .header h1 {
    font-weight: 500;
    font-size: 40px;
  }
}
