.footer {
  color: #fff;
  margin-bottom: 20px;
}

.footer .container {
  background-color: rgba(23, 23, 23, 0.95);
  border-radius: 15px;
  padding: 40px 35px;
}

.footer__top {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 30px;
}

.footer__top h3 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 5px;
}

.footer__top .col {
  flex: 0.5;
  flex-basis: 120px;
}

.footer__top .col-1 {
  flex: 1;
  max-width: 700px;
  flex-basis: 300px;
}

.footer__top .col-1 p {
  color: rgb(158, 158, 158);
}

.footer__top .col-1 p {
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer__top .col-1 .icon {
  display: inline-block;
  height: 16px;
  width: 16px;
}

.footer__top .col-1 .icon svg {
  height: 100%;
  width: 100%;
  stroke: rgb(158, 158, 158);
}

.footer__top .col-1 .tel-num {
  font-weight: 600;
}

.footer__top .col li a {
  transition: all 0.3s ease;
}

.footer__top .col li a:hover {
  color: rgb(158, 158, 158);
}

.footer__top h6 {
  margin-bottom: 8px;
}

.footer__top li {
  margin-bottom: 7px;
}

.footer__socials {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__socials .icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__socials .icons .icon {
  display: inline-block;
  height: 16px;
  width: 16px;
}

.footer__socials .icons .icon svg {
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}

.footer__socials .icons .icon svg:hover {
  fill: #fff;
}
